<div>
   <div class="row" ng-show='obras'>
      <div class="col-xs-12">
         <h1 class="text-center ">{{ i18n.homeTitle }}</h1>
      </div>
   </div>
   <div id='stats-home' class="row" ng-show='obras'>
                  <div class='col-xs-6 col-sm-6 col-md-3 col-lg-3 icon-container text-center' style="text-align:center">
                     <img class="" src="images/indicadores/inversion.svg" style="height:75px"/>
                     <h5>{{ i18n.investmentAmount }}</h5>
                     <span class="value">{{totalRender.inversion | currency:$ :0}}</span>			
                  </div>

                  <div class='col-xs-6 col-sm-6 col-md-3 col-lg-3 icon-container text-center' style="text-align:center">
		     <img class="" src="images/indicadores/obras.svg" style="height:75px"/>
                     <h5>{{ i18n.totalWorks }}</h5>
                     <span class="value">{{totalRender.obras-1 | number:0}}</span>
                  </div>

                  <div class='col-xs-6 col-sm-6 col-md-3 col-lg-3 icon-container text-center' style="text-align:center">
                     <img class="" src="images/indicadores/personas.svg" style="height:75px"/>
                     <h5>{{ i18n.employees }}</h5>
                     <span class="value">{{totalRender.mano_obra | number:0}}</span>
                  </div>

                  <div class='col-xs-6 col-sm-6 col-md-3 col-lg-3 icon-container text-center' style="text-align:center">
                     <img class="" src="images/indicadores/finalizadas.svg" style="height:75px"/>
                     <h5>{{ i18n.ended }}</h5>
                     <span class="value">{{totalRender.porcentaje_finalizadas | number:0}}%</span>
                  </div>
   </div>
</div>